<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzhl.domain.mapper.UserExtraMapper" >
  <resultMap id="BaseResultMap" type="com.zzhl.domain.pojo.UserExtra" >
    <id column="uid" property="uid" jdbcType="INTEGER" />
    <result column="balance" property="balance" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="modify_time" property="modifyTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, balance, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from user_extra
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_extra
    where uid = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzhl.domain.pojo.UserExtra" >
    insert into user_extra (uid, balance, create_time, 
      modify_time)
    values (#{uid,jdbcType=INTEGER}, #{balance,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzhl.domain.pojo.UserExtra" >
    insert into user_extra
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="balance != null" >
        balance,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="balance != null" >
        #{balance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzhl.domain.pojo.UserExtra" >
    update user_extra
    <set >
      <if test="balance != null" >
        balance = #{balance,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzhl.domain.pojo.UserExtra" >
    update user_extra
    set balance = #{balance,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where uid = #{uid,jdbcType=INTEGER}
  </update>

  <update id="updateBalance">
    update user_extra
    set balance = balance + #{amount,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
</mapper>